<table>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="race">Race</th>
      <th class="location">Location</th>
      <th class="distance">Distance</th>
      <th class="time">Time</th>
      <th class="pace">Pace</th>
      <th class="place">Place</th>
    </tr>
  </thead>
  <% @results_by_year.keys.sort.reverse.each do |year| %>
    <% @results_by_year[year].each_with_index do |result, index| %>
      <tr class="<%= "new-year" if index == 0 %>">
        <td class="date"><%= result['date'].strftime('%-m/%-d/%y') %></td>
        <td class="race"><%= result['name'] %></td>
        <td class="location"><%= result['location'] %></td>
        <td class="distance"><%= result['distance'] %></td>
        <td class="time"><%= ChronicDuration.output(result['time'], :format => :chrono) if result['time'] %></td>
        <td class="pace"><%= ChronicDuration.output(result['pace'], :format => :chrono) if result['pace'] %></td>
        <td class="place">
          <%= number_with_delimiter(result['place']) if result['place'] %>
          <%= "/ #{number_with_delimiter(result['finishers'])}" if result['place'] and result['finishers'] %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
