<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Race</th>
      <th>Location</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Pace</th>
      <th>Place</th>
    </tr>
  </thead>
  <% @races.each do |race| %>
    <tr>
      <td><%= race['date'].strftime('%-m/%-d/%y') %></td>
      <td><%= race['name'] %></td>
      <td><%= race['location'] %></td>
      <td><%= race['distance'] %></td>
      <td><%= ChronicDuration.output(race['time'], :format => :chrono) %></td>
      <td><%= ChronicDuration.output(race['pace'], :format => :chrono) %></td>
      <td>
        <%= number_with_delimiter(race['place']) %>
        / <%= number_with_delimiter(race['finishers']) %>
      </td>
    </tr>
  <% end %>
</table>
