<% @results.each do |result| %>
  <li>
    <%= result['date'].strftime('%-d %b %y') %> &raquo;
    <%= ChronicDuration.output(result['time'], :format => :chrono) %>
    <%= result['distance'] %>
    at <%= result['name'] %>
    (<%= result['place'].ordinalize %>
    out of <%= number_with_delimiter(result['finishers']) %>)
  </li>
<% end %>